<!-- <h2>My Cars</h2> -->
<!-- <div>
    <label for="new-car">car name: </label>
    <input id="new-car" #carName />

    (click) passes input value to add() and then clears the input
    <button class="add-button" (click)="add(carName.value); carName.value=''">
        Add car
    </button>
</div> -->

<div class="container">
    <div class="row">
        <div *ngFor="let car of cars" class="col text-center">
            <button (click)='selectCar(car)' class='btn btn-dark'>{{ car.name }}</button>
        </div>
    </div>

    <div class="container">
        <button style="right: 20px;
        bottom: 20px;
        left: auto;
        position: absolute;" mat-fab color="primary" (click)="openNewDataDialog()"
            aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>